#nav {
    list-style-type: none;
    margin: 0px;
    text-align: center;
}

#nav li {
    display: inline;
}


ul#tweet_list {
    list-style-type: none;
}

ul#tweet_list li {
    border-bottom: 1px solid #000;
    padding: .5em;
}

ul#tweet_list li a {
    padding: .5em;
}

img {
    border: 0px;
}
