<!DOCTYPE HTML>

<html>
    <head>
        <title>{% block title %} Stream Quality {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>

    <body>
        {% block nav %}
        <ul id="nav">
            <li><a href="/">Home</a></li> | 
            <li><a href="/register/">Register</a></li> | 
            <li><a href="/vote/">Vote</a></li> |
            <li><a href="/about/">About</a></li>
        </ul>
        {% endblock %}

        {% block content %} {% endblock %}

        {% block footer %} {% endblock %}
    </body>
</html>
