<!DOCTYPE HTML>

<html>
    <head>
        <title>{% block title %} Stream Quality {% endblock %}</title>
        {% block script %} {% endblock %}
        {% block extrastyle %} {% endblock %}
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>

    <body>
        {% block nav %}
        <ul id="nav">
            <li><a href="/">Home</a> | </li>
            <li><a href="/register/">Register</a> | </li>
            <li><a href="/about/">About</a></li>
            {% if logged_in_user %}
                <li> | <a href="/vote/">Vote</a></li>
                <li> | <a href="/myvotes/">My votes</a></li>
                <li> | <a href="/logout/">Logout</a></li>
            {% endif %}
        </ul>
        {% endblock %}

        {% block content %} {% endblock %}

        {% block footer %} {% endblock %}
    </body>
</html>
