{% extends "base.html" %}

{% block title %} {{user_name}}'s votes {% endblock %}
{% block content %}
    {% for author in votes.items %}
        {% if forloop.first %}
            <ul class="tweet_list">
        {% endif %}

        <li>
            <a href="/myvotes/{{author.0}}">{{author.0}}</a>
                -- {{author.1}}
            <a href="/unfollow/{{author.0}}/">Unfollow</a>
        </li>
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
