{% extends "base.html" %}

{% block script %}
    <script type="text/javascript" src="/static/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript">
        function tweet_vote(user_name, tweet_id, vote) {
            $.getJSON("/vote/" + vote + "/" + tweet_id + "/",
                function(json) {
                    var tweet = $("#" + json['id']);
                    tweet.html('Vote:' + json['vote_cnt']);
                });
        }
    </script>
{% endblock %}

{% block title %} {{user_name}}'s imperfect stream {% endblock %}
{% block content %}
    {% for tweet in tweets %}
        {% if forloop.first %}
            <ul class="tweet_list">
        {% endif %}
            <li>
                <div>
                    <img src="{{tweet.profile_image_url}}"/>
                    <a href="http://www.twitter.com/{{tweet.author_screen_name}}">
                    {{tweet.author_screen_name}}</a> {{tweet.author_name}}
                </div>
                <div>{{tweet.text}}</div>
                <div id="{{tweet.id}}">Vote:{{tweet.vote_cnt}}</div>
                <div>{{tweet.created_at}}</div>
                <a href="#" onclick="tweet_vote('{{user_name}}',
                                            '{{tweet.id}}', 'up');">up</a>
                <a href="#" onclick="tweet_vote('{{user_name}}',
                                            '{{tweet.id}}', 'down');">down</a>
            </li>
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}

    {% if page %}
        <a href="/vote/{{page|add:"1"}}/">next</a>
    {% endif %}

{% endblock %}
