{% extends "base.html" %}

{% block script %}
    <script type="text/javascript" src="/static/js/jquery-1.5.2.min.js"></script>
{% endblock %}

{% block title %} {{user_name}}'s imperfect stream {% endblock %}
{% block content %}
    {% for tweet in tweets %}
        {% if forloop.first %}
            <ul class="tweet_list">
        {% endif %}
            <li>
                <div>
                    <img src="{{tweet.user.profile_image_url}}"/>
                    <a href="http://www.twitter.com/{{tweet.user.screen_name}}">
                    {{tweet.user.screen_name}}</a> {{tweet.user.name}}
                </div>
                <div>{{tweet.text}}</div>
                <a href="/vote/{{user_name}}/up/{{tweet.id}}/">up</a>
                <a href="/vote/{{user_name}}/down/{{tweet.id}}/">down</a>
            </li>
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
